*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background: radial-gradient(rgb(199, 4, 99), rgb(18, 1, 4));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;      
.container{
        height: 40%;
        width: 20%;
    .card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(81, 165, 255);
    background: linear-gradient(rgb(2, 2, 112), rgb(23, 1, 1));
    padding: 1rem;
    border-radius: 23px;
    transform-style: preserve-3d;
    transition: 0.9s; 
h1{
    font-weight: 500;
    font-size: 1rem;
    transition: 0.9s;
    }
p{
    font-weight: 500;
    font-size: 1rem;
    transition: 0.9s;
    }
img{
    height: 60%;
    width: 100%;
    object-fit: contain;
    transition: 0.9s;
        }
button{
    margin-top:1rem;
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    width: fit-content;
    align-self: center;
    box-shadow: 0 0 3px black;
   }
  }
 }
.container:hover{
    .card{
        transform: rotateX(70deg) rotateY(-15deg);
        color: white;
    }
    h1{
        transform: translateZ(150px) rotateX(-90deg);
        font-size: 5rem;
    }
    p{
        font-size: 1rem;
        transform: translateZ(100px) rotateX(-90deg); 
    }
    img{
        transform: translateZ(150px) rotateX(-90deg); 
    }
    button{
        transform: translateZ(50px) rotateX(-90deg);
   }
  }
 }